<% car = Car.find(params[:id]) %>

<%= javascript_include_tag "daterangepicker_initializer.js" %>

<section class="position-relative py-4 py-xl-5">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card mb-5">
          <div class="card-body p-sm-5">
            <h2 class="text-center mb-4"> Booking Checkout </h2>

            <%= form_with model: @car, class: "form", remote: true do |f| %>
              <div class="mb-3">
                <%= f.label :name %>
                <%= f.email_field :name, class: "form-control", placeholder: "john wick " %>
              </div>
              <div class="mb-3">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control", placeholder: "john@gmail.com" %>
              </div>

              <div class="mb-3">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control", placeholder: "password" %>
              </div>

              <div class="mb-3">
                <%= f.label :start_date %>
                <%= f.datetime_field(:start_date, class: "form-control", min: ((car.avaliable_from.strftime('%Y-%m-%dT%H:%M'))), max:((car.avaliable_until.strftime('%Y-%m-%dT%H:%M'))) ) %>
              </div>
              <div class="mb-3">
                <%= f.label :end_date %>
                <%= f.datetime_field(:end_date, class: "form-control", min: ((car.avaliable_from.strftime('%Y-%m-%dT%H:%M'))), max:((car.avaliable_until.strftime('%Y-%m-%dT%H:%M'))) ) %>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <%= f.submit "Book Car", class: "btn btn-primary"%>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
