<% car = Car.find(params[:id]) %>
<% require 'date' %>

<section class="position-relative py-4 py-xl-5">
  <div class="container position-relative">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card mb-5">
          <div class="card-body p-sm-5">
            <h2 class="text-center mb-4"> Booking Checkout </h2>

            <%= form_with model: @car, class: "form" do |f| %>
              <div class="mb-3">
                <%= f.label :name %>
                <%= f.email_field :name, class: "form-control", placeholder: "john wick " %>
              </div>
              <div class="mb-3">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control", placeholder: "john@gmail.com" %>
              </div>

              <div class="mb-3">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control", placeholder: "password" %>
              </div>

              <div class="mb-3">
                <%= f.label :booking_date %>
                <%= f.text_field :booking_date, class: 'form-control', data: { behavior: 'daterangepicker'} %>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <%= f.submit "Book Car", class: "btn btn-primary"%>
                <%#= link_to "Book Car", { controller: 'booking', action: 'create', id: car.id }, class: "btn btn-primary" %>
              </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    //grey out not available dates
    $(function() {
        <%# avaliable_from = (car.avaliable_from.strftime("%Y%m%d")) %>
        <%# avaliable_until = (car.avaliable_until.strftime("%Y%m%d")) %>
<!--        var availableFrom = $(<%# avaliable_from %>);-->
<!--        var availableUntil = $(<%# avaliable_until %>);-->

        $('[data-behavior=daterangepicker]').daterangepicker({
            "opens": "right",
            // "minDate": availableFrom,
            // "maxDate": availableUntil,
            //  "startDate": availableFrom,
            //  "endDate": availableUntil,
            timePicker: true,
            locale: {
                format: 'M/DD hh:mm A'
            }
        });
    });

</script>

